# Python
__pycache__/
*.py[cod]
*.class
*.so
.Python
env/
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
wheels/
pip-wheel-metadata/
share/python-wheels/
*.egg-info/
.installed.cfg
*.egg
.env
.venv
venv/
ENV/

# System & IDE
.DS_Store
Thumbs.db
.idea/
.vscode/
*.swp
.vercel

.gemini/
.gemini

*.pdf

# Private reviewer feedback
*.pdf
